<body style="background-color: rgb(129, 121, 121)"></body>

<h1>Hello {{user.name}}</h1>
<ul>
    <li>
        Back To
        <a href="{% url 'homeView' %}">Main Menu</a>
    </li>
</ul>
<hr>
<h2>List of yours accounts:</h2>

<ul>
    {% for money in user.money_set.all %}
        <li>
            Balance: {{money.balance}}
            <a href="{% url 'moneyView' pk=money.id%}">See</a>
            <a href="{% url 'deleteMoney' pk=money.id %}">Delete</a>
        </li>
    {% endfor %}
    <hr>
    <a href="{% url 'addMoney' pk=user.id%}">Add New Balance</a>
 
</ul>